/* custom styles */

/* Variables */

:root {
  --basic-grey: #888888;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81B3D2;
  --basic-dark: #333333;
  --basic-brown: #766357;
  --basic-light: #F2F2F2;
  --basic-dark-brown: #666666;
  --basic-light-grey: #CACACA;

  --hovered-blue: #669EC0;
  --pressed-blue: #5496BD;

  --hovered-brown: #604E43;
  --pressed-brown: #503E33;

  --basic-html-logo: #231F20;
  --hovered-html-logo: #81B3D2;
  --pressed-html-logo: #bdbbbc;

  --opaque-black: rgba(0, 0, 0, 0.3);
  --opaque-white: rgba(255, 255, 255, 0.3);

}

/* Global */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
}



.page-body {
  /* margin: 0;
  padding: 0; */
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-transform: uppercase;
  width: 1280px;
  min-height: 100%;
  display: grid;
  grid-template-rows:
    min-content
    1fr
    min-content;
  align-content: start;
  margin: 0 auto;
}

/* Grid */

.page {
  height: 100%;
  background-color: var(--basic-grey);
}

.page-content {
  background-color: var(--basic-white);
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  outline: 5px solid rgba(0,255,0,0.7);
  outline-offset: -5px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  outline: 5px solid rgba(0,0,255,0.7);
  outline-offset: -5px;
  background-color: var(--basic-white);
}

/* Navigation */

.navigation {
  font-size: 16px;
  line-height: 20px;
  outline: 5px solid rgba(255,0,255,0.7);
  outline-offset: -5px;
  display: grid;
}

.menu {
  order: 1;
  outline: 5px solid rgba(236, 141, 15, 0.8);
  outline-offset: -5px;
  margin: 0;
  padding: 0;
}

.nav-item {
  list-style: none;
}

.main-header-logo {
  background-color: var(--basic-blue);
  outline: 5px solid rgba(7, 84, 156, 0.7);
  outline-offset: -5px;
  justify-self: center;
  }

/* User navigation */

.nav-item a,
.user-navigation a {
  color: var(--basic-black);
}

.nav-item a:hover,
.nav-item a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-blue);
}

.current a, .nav-item a:active,
.user-navigation a:active {
  color: var(--basic-brown);
}

/* intro block */

.intro-text {
  font-size: 21px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.text-subline {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  color: var(--basic-dark);
  margin: 0 50px;
}

.text-subline.text-intro-subline {
  margin-bottom: 50px;
}

.text-subline.text-features-subline {
  padding: 0 21px;
}


.welcome-picture {
  background: url(../img/shape.svg) no-repeat center bottom,
  url(../img/welcome.svg) no-repeat center center,
  url(../img/background-photo.jpg) no-repeat;
  height: 509px;
  background-color: var(--basic-blue);
}

.intro-content {
 background-color: var(--basic-white);

}

/* Panel */

.panel-wrapper {
  display:grid;
  grid-template-columns: 1fr 2fr;
  height: 256px;
}

.panel-wrapper-2 {
  display:grid;
  grid-template-columns: 2fr 1fr;
  height: 256px;
}

.panel {
  background-color: var(--basic-blue);
  padding: 45px 0;
}

.panel-image {
  width: 800px;
  background-color: var(--basic-blue);
}

.panel-header {
  font-size: 21px;
  line-height: 21px;
  margin: 0 125px;
  color: var(--basic-white);
}

.panel-number,
.panel-desc {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  line-height: 21px;
  margin: 20px;
  padding: 0 20px;
  color: var(--basic-white);
}

/* Features */

.features-list {
  outline: 5px solid rgba(4, 82, 24, 0.7);
  outline-offset: -5px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature-item {
  outline: 5px solid rgba(221, 61, 221, 0.7);
  outline-offset: -5px;
  list-style: none;
  text-align: center;
  margin: 50px auto;
}

.feature-item-header {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  padding: 0 130px;
}

.feature-item-header.header-2 {
  margin: 0;
}

.feature-number,
.results-item-subline {
  font-weight: 700;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-dark);
}

.search-hotel-header {
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-black);
}

.search-hotel-info {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  line-height: 24px;
  color: var(--basic-dark);
  margin-bottom: 40px;
}

.search-hotel-button {
  font-size: 21px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  border: none;
  outline: none;
  width: 568px;
  height: 86px;
}

.search-hotel-button:hover,
.search-hotel-button:focus {
  background-color: var(--hovered-brown);
  border: none;
  outline: none;
}

.search-hotel-button:active {
  background-color: var(--hovered-brown);
  border: none;
  color: var(--opaque-white);
  outline: none;
}

.search-hotel-form-wrapper {
  width: 568px;
  background-color: var(--basic-white);
  z-index: 10;
}

.search-hotel-form {
  background-color: var(--basic-white);
  margin: 55px;
}

.search-hotel-form input {
  font: inherit;
  background-color: var(--basic-light);
  border: none;
  width: 346px;
  height: 38px;
  margin-bottom: 30px;
}

.search-hotel-form input:focus {
  border-color: var(--special);
}

.number {
  display: inline-block;
  max-width: 228px;
  padding-left: 55px;
}

.number input {
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 0;
}

.minus {
  width:36px;
  height:36px;
  background: url(../img/icons/minus-sign.svg) no-repeat center center;
  background-color: var(--basic-light);
  text-align: center;
  border: none;
}

.plus{
  width:36px;
  height:36px;
  background: url(../img/icons/plus-sign.svg) no-repeat center center;
  background-color: var(--basic-light);
  text-align: center;
  border: none;
}

.search-button {
  width: 458px;
  height: 58px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-size: 21px;
  border: none;
  outline: none;
}

.search-button:hover,
.search-button:focus {
  background-color: var(--hovered-blue);
  border: none;
  outline: none;
}

.search-button:active {
  background-color: var(--hovered-blue);
  border: none;
  color: var(--opaque-white);
  outline: none;
}

.main-footer {
  background-color: var(--basic-white);
  outline: 5px solid rgba(20, 20, 19, 0.6);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  }

/* .footer-contacts,
.footer-social,
.footer-copyright {
  width: 400px;
} */

.footer-contacts {
  font-size: 21px;
  outline: 5px solid rgba(71, 226, 180, 0.6);
  outline-offset: -5px;
  margin: o auto;
  padding: 0;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  align-items: end;
}

.footer-contacts a {
  font-size: 21px;

}

.footer-contacts a {
  color: var(--basic-black);
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social-list-item:hover,
.footer-social-list-item:focus {
  background-color: var(--hovered-blue);
}

.footer-social-list-item:active {
  background-color: var(--pressed-blue);
}

.footer-social {
  outline: 5px solid rgba(139, 8, 129, 0.6);
  outline-offset: -5px;
  justify-self: center;
}

.footer-social ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 6px;
  margin: 0;
  padding: 36px 0;
}

.footer-social-list-item {
  background-color: var(--basic-blue);
  width: 48px;
  height: 46px;
  vertical-align: middle;
  text-align: center;

}

.footer-social-list-item img {
  position: relative;
  top: 30%;
}

.social-icon {
  text-align: center;
}

.footer-copyright {
  color: var(--basic-html-logo);
  background-color: var(--basic-white);
  outline: 5px solid rgba(20, 173, 233, 0.6);
  outline-offset: -5px;
  justify-self: left;
  padding: 35px 0;
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6px;
}

.footer-copyright p {
  justify-self: right;
  margin: 10px 0;
}

.footer-copyright:hover,
.footer-copyright:focus {
  color: var(--hovered-html-logo);
}

.footer-copyright:active {
  color: var(--pressed-html-logo);
}

/* Search catalog */


/* Filter */

.filter-fieldset {
  border: none;
}

.filter-item-header {
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.filter-checkbox-label{
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
 }

.filter-background {
  height:217px;
  background: url(../img/background.jpg) no-repeat center;
  background-color: var(--basic-blue);
}

/* Slider */

.filter-item-header,
.filter-price-min,
.filter-price-max,
.filter-price-range
.filter-show-button {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: transparent;
}

.filter-price-values {
  border: 2px solid white;
  display: inline-block;
}

.filter-price-min,
.filter-price-max {
  border: none;
  /* height: 36px;
  width: 158px; */
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

input.filter-price-min {
  border-right: 2px solid white;
}

.filter-price-min:focus,
.filter-price-max:focus,
.filter-price-range:focus {
  outline: none;
}

.filter-show-button {
  background-color: transparent;
  width: 137px;
  border: 2px solid white;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  outline: none;
}

.filter-show-button:hover,
.filter-show-button:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
  border: none;
  outline: none;
}

/* Results */

.sort-controls{
  list-style: none;
}

 .sort-header {
  color: var(--basic-black);
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
 }

 .sort-control a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  color: var(--opaque-black);
  border-bottom: 1px dashed var(--basic-blue);
 }

 .sort-active a {
  color: var(--basic-blue);
  border-bottom: none;
}

.sort-control a:hover,
.sort-control a:focus {
  color: var(--basic-blue);
}

.sort-control a:active {
  color: var(--basic-black);
  border-bottom: none;
}

.sort-ascending,
.sort-descending {
  color: var(--basic-light-grey);
  cursor: pointer;
  font-size: 12px;
}

.sort-ascending:hover,
.sort-ascending:focus,
.sort-descending:hover,
.sort-descending:focus {
  color: var(--basic-black);
  cursor: pointer;
  font-size: 12px;
}

.sort-ascending:active,
.sort-descending:active {
  color: var(--basic-blue);
  cursor: pointer;
  font-size: 12px;
}

/* Results items */

.results-item {
  list-style:none;

}

.results-item-header {
  font-size: 21px;
  font-weight: 400;
}

.details-button {
  width: 110px;
  height: 27px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-size: 14px;
  border: none;
  outline: none;
}

.details-button:hover,
.details-button:focus {
  background-color: var(--hovered-blue);
  border: none;
  outline: none;
}

.details-button:active {
  background-color: var(--hovered-blue);
  border: none;
  color: var(--opaque-white);
  outline: none;
}

.book-button {
    width: 142px;
    height: 27px;
    background-color: var(--basic-brown);
    color: var(--basic-white);
    font-size: 14px;
    border: none;
    outline: none;
}

  .book-button:hover,
  .book-button:focus {
    background-color: var(--hovered-brown);
    border: none;
    outline: none;
  }

  .book-button:active {
    background-color: var(--pressed-brown);
    border: none;
    color: var(--opaque-white);
    outline: none;
  }

.stars {
  color: var(--basic-blue);
  font-size: 18px;
 }

.rating-item {
  color: var(--basic-dark-brown);
  background-color: var(--basic-light);
  font-size: 14px;
  font-weight: 700;
 }
