/* custom styles */

/* Variables */

:root {
  --basic-grey: #888888;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81B3D2;
  --basic-dark: #333333;
  --basic-brown: #766357;
  --basic-light: #F2F2F2;
  --basic-dark-brown: #666666;
  --basic-light-grey: #CACACA;
  --basic-lighter-grey: #EEEEEE;

  --field-bg-normal: #F2F2F2;
  --field-bg-hover: #EBEBEB;
  --field-bg-focus: #FFFFFF;
  --field-border-focus: #E5E5E5;

  --hovered-blue: #669EC0;
  --pressed-blue: #5496BD;

  --hovered-brown: #604E43;
  --pressed-brown: #503E33;

  --basic-html-logo: #231F20;
  --hovered-html-logo: #81B3D2;
  --pressed-html-logo: #bdbbbc;

  --opaque-black: rgba(0, 0, 0, 0.3);
  --opaque-white: rgba(255, 255, 255, 0.3);
  --slightly-opaque-white: rgba(255, 255, 255, 0.9);

}

/* Global */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
}

.page-body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-transform: uppercase;
  min-height: 100%;
}

/* Grid */

.page {
  height: 100%;
  background-color: var(--basic-grey);
}

.page-content {
  background-color: var(--basic-white);
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
  display: grid;
  grid-template-rows:
    min-content 1fr min-content;
}

.catalog {
  display: grid;
  grid-template-rows:
    min-content min-content min-content 1fr min-content;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  /* outline: 5px solid rgba(0,0,255,0.7);
  outline-offset: -5px; */
  background-color: var(--basic-white);
}

/* Navigation */

.navigation {
  font-size: 16px;
  line-height: 20px;
  outline: 5px solid rgba(255, 0, 255, 0.7);
  outline-offset: -5px;
  position: relative;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  outline: 5px solid rgba(236, 141, 15, 0.8);
  outline-offset: -5px;
  margin: 0;
  padding: 0 70px;
}

.nav-item {
  list-style: none;
  margin: 15px 0;
}

.main-header-logo {
  outline: 5px solid rgba(7, 84, 156, 0.7);
  outline-offset: -5px;
  position: absolute;
  top: 0;
  left: 531px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}


/* User navigation */

.nav-item a,
.user-navigation a {
  color: var(--basic-black);
}

.nav-item a:hover,
.nav-item a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-blue);
}

.current a,
.nav-item a:active,
.user-navigation a:active {
  color: var(--basic-brown);
}

/* intro block */

.intro-text {
  font-size: 21px;
  margin: 40px auto;
  max-width: 470px;
}

.text-subline {
  font-weight: 700;
  color: var(--basic-dark);
  margin: 0;
}

.text-subline.text-intro-subline {
  margin-bottom: 50px;
}

.text-subline.upper-features-subline {
  margin: 0 58px;
  line-height: 21px;
  margin-bottom: 82px;
}

.text-subline.text-features-subline {
  margin: 23px 71px;
  margin-bottom: 54px;
}

.welcome-picture {
  background: url(../img/shape.svg) no-repeat center bottom,
    url(../img/welcome.svg) no-repeat center center,
    url(../img/background-photo.jpg) no-repeat;
  height: 509px;
  background-color: var(--basic-blue);
}

.intro-content {
  background-color: var(--basic-white);
}

/* Panel */

.panel-wrapper-left {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.panel-wrapper-right {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 256px;
}

.panel {
  background-color: var(--basic-blue);
  padding: 45px 0;
}

.panel-image {
  width: 800px;
  background-color: var(--basic-blue);
}

.panel-header {
  font-size: 21px;
  line-height: 21px;
  margin: 0 125px;
  color: var(--basic-white);
}

.panel-number,
.panel-desc {
  line-height: 21px;
  margin: 20px 40px;
  color: var(--basic-white);
}

/* Features */

.features-list {
  outline: 5px solid rgba(4, 82, 24, 0.7);
  outline-offset: -5px;
  margin: 0;
  padding: 0;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  flex-direction: row;
}

.feature-item {
  /* outline: 5px solid rgba(221, 61, 221, 0.7);
  outline-offset: -3px; */
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.lower {
  background-color: var(--basic-lighter-grey);
  padding-top: 0;
}

.feature-item img {
  /* outline: 5px solid rgba(221, 61, 221, 0.7);
  outline-offset: -5px; */
  margin-bottom: 25px;
}

.upper {
  margin-top: auto;
}

.feature-item-header {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 25px;
}

.feature-item-header.multiline-header {
  margin: 54px 130px;
  margin-bottom: 25px;
}

.feature-number,
.results-item-subline {
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-dark);
  margin: 0;
}


/* Main Search */

.search {
  position: relative;
}

.search-hotel-header {
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-black);
}

.search-hotel-info {
  font-weight: 700;
  line-height: 24px;
  color: var(--basic-dark);
  margin: 0 auto 40px;
  max-width: 435px;
}

.search-hotel-button {
  font-size: 21px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  border: none;
  outline: none;
  width: 568px;
  height: 86px;
  position: relative;
}

.search-hotel-button:hover,
.search-hotel-button:focus {
  background-color: var(--hovered-brown);
  border: none;
  outline: none;
}

.search-hotel-button:active {
  background-color: var(--hovered-brown);
  border: none;
  color: var(--opaque-white);
  outline: none;
}

.search-hotel-form-wrapper {
  /* display: none; */
  width: 568px;
  background-color: var(--basic-white);
  position: absolute;
  top: 86px;
  left: 316px;
  z-index: 10;
}

.hide {
  display: none;
}

.search-hotel-form {
  background-color: var(--basic-white);
  margin: 55px;
}

.search-date {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.search-hotel-form input:active,
.search-hotel-form input:focus {
  border: none;
  outline: none;
}

.date-start, .date-end {
  margin: 6px 12px;
  background-color: transparent;
  border: none;
}

button.calendar {
  background-color: transparent;
  background-image: url("../img/icons/calendar.svg");
  border: none;
  width: 21px;
  height: 23px;
  margin: 8px 9px;
}

button.calendar:hover,
button.calendar:focus {
  border: none;
  outline: none;
  background-image: url("../img/icons/calendar-black.svg");
}

button.calendar:active {
  border: none;
  outline: none;
  background-image: url("../img/icons/calendar-blue.svg");
}

.date-selector {
  background-color: var(--field-bg-normal);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 346px;
  margin-bottom: 29px;
}

.date-selector:hover,
.date-start:hover,
.date-end:hover {
  background-color: var(--field-bg-hover);
}

.date-selector:active,
.date-start:active,
.date-end:active {
  background-color: var(--field-bg-focus);
  outline: 2px solid var(--field-border-focus);
  outline-offset: -2px;
}

.visitors-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 50px;
}

.select-visitors-header {
  margin-right: 40px;
}

.visitors-number {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.search-hotel-form input:focus {
  border-color: var(--special);
}

.adults {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}

.children {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.number {
  width: 35px;
  height: 35px;
  background-color: var(--basic-light);
  border: none;
  text-align: center;
  vertical-align: middle;
  padding: 0;
}

.minus {
  margin: auto;
  background-image: url("../img/icons/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.minus:hover,
.minus:focus {
  border: none;
  outline: none;
  background-image: url("../img/icons/minus-black.svg");
}

.minus:active {
  border: none;
  outline: none;
  background-image: url("../img/icons/minus-blue.svg");
}


.plus {
  margin: auto;
  background-image: url("../img/icons/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.plus:hover,
.plus:focus {
  border: none;
  outline: none;
  background-image: url("../img/icons/plus-black.svg");
}

.plus:active {
  border: none;
  outline: none;
  background-image: url("../img/icons/plus-blue.svg");
}

.search-button {
  width: 458px;
  height: 58px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-size: 21px;
  border: none;
  outline: none;
}

.search-button:hover,
.search-button:focus {
  background-color: var(--hovered-blue);
  border: none;
  outline: none;
}

.search-button:active {
  background-color: var(--hovered-blue);
  border: none;
  color: var(--basic-white);
  opacity: 0.3;
  outline: none;
}

.main-footer {
  background-color: var(--basic-white);
  /* outline: 5px solid rgba(20, 20, 19, 0.6);
  outline-offset: -5px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  opacity: 0.9;
  margin-top: -128px;
}

.footer-contacts {
  font-size: 21px;
  /* outline: 5px solid rgba(71, 226, 180, 0.6);
  outline-offset: -5px; */
  margin: o auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-contacts a {
  font-size: 21px;
  color: var(--basic-black);
  margin-bottom: 9px;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.social-button {
  background-color: #81B3D2;
  ;
  width: 48px;
  height: 48px;
  border: none;
  margin-right: 7px;
}

.twitter {
  background-image: url("../img/icons/social/twitter.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.twitter:active {
  background-image: url("../img/icons/social/twitter-2.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.facebook {
  background-image: url("../img/icons/social/fb-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.facebook:active {
  background-image: url("../img/icons/social/fb-icon-2.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.youtube {
  background-image: url("../img/icons/social/youtube.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.youtube:active {
  background-image: url("../img/icons/social/youtube-2.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.social-button:hover,
.social-button:focus {
  outline: none;
  border: none;
  background-color: #669EC0;
}

.social-button:active {
  outline: none;
  border: none;
  background-color: #5496BD;
}

.footer-social {
  /* outline: 5px solid rgba(139, 8, 129, 0.6);
  outline-offset: -5px; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer-copyright {
  color: var(--basic-html-logo);
  /* outline: 5px solid rgba(20, 173, 233, 0.6);
  outline-offset: -5px; */
  padding: 35px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright span {
  margin-right: 8px;
}

.copyright-logo {
  background-image: url("../img/logo-htmlacademy.svg");
  width: 115px;
  height: 41px;
}

.copyright-logo:hover,
.copyright-logo:focus {
  border: none;
  outline: none;
  background-image: url("../img/logo-htmlacademy-1.svg");
}

.copyright-logo:active {
  border: none;
  outline: none;
  background-image: url("../img/logo-htmlacademy-2.svg");
}

/* Search catalog */


/* Filter */

.filter-fieldset {
  border: none;
}

.filter-item-header {
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.filter-checkbox-label {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.filter {
  background: url(../img/background.jpg) no-repeat center;
  background-color: var(--basic-blue);
  outline: 5px solid rgba(104, 4, 70, 0.7);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}


/* Slider */

.filter-item-header,
.filter-price-min,
.filter-price-max,
.filter-price-range .filter-show-button {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: transparent;
}

.filter-price-values {
  border: 2px solid white;
  display: inline-block;
}

.filter-price-min,
.filter-price-max {
  border: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

input.filter-price-min {
  border-right: 2px solid white;
}

.filter-price-min:focus,
.filter-price-max:focus,
.filter-price-range:focus {
  outline: none;
}

.filter-show-button {
  background-color: transparent;
  width: 137px;
  border: 2px solid white;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  outline: none;
}

.filter-show-button:hover,
.filter-show-button:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
  border: none;
  outline: none;
}

/* Results */

.results {
  outline: 5px solid rgba(161, 43, 43, 0.7);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: 135px 1fr 1fr 1fr;
}

.results-list {
  outline: 5px solid rgba(97, 11, 155, 0.7);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: 1fr;
}

.sort-menu {
  list-style: none;
  justify-self: left;
}

.sort-controls {
  justify-self: right;
}

.sort-header {
  color: var(--basic-black);
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

.sort-control a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  color: var(--opaque-black);
  border-bottom: 1px dashed var(--basic-blue);
}

.sort-active a {
  color: var(--basic-blue);
  border-bottom: none;
}

.sort-control a:hover,
.sort-control a:focus {
  color: var(--basic-blue);
}

.sort-control a:active {
  color: var(--basic-black);
  border-bottom: none;
}

.sort-ascending,
.sort-descending {
  color: var(--basic-light-grey);
  cursor: pointer;
  font-size: 12px;
}

.sort-ascending:hover,
.sort-ascending:focus,
.sort-descending:hover,
.sort-descending:focus {
  color: var(--basic-black);
  cursor: pointer;
  font-size: 12px;
}

.sort-ascending:active,
.sort-descending:active {
  color: var(--basic-blue);
  cursor: pointer;
  font-size: 12px;
}

/* Results items */

.results-item {
  list-style: none;
  display: grid;
  grid-template-columns: 135px 1fr 1fr;
  outline: 3px solid rgba(67, 162, 218, 0.7);
  outline-offset: -3px;
}

.results-data {
  justify-self: left;
}

.results-item-header {
  font-size: 21px;
  font-weight: 400;
}

.results-item-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.details-button {
  width: 110px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-size: 14px;
  border: none;
  outline: none;
}

.details-button:hover,
.details-button:focus {
  background-color: var(--hovered-blue);
  border: none;
  outline: none;
}

.details-button:active {
  background-color: var(--hovered-blue);
  border: none;
  color: var(--opaque-white);
  outline: none;
}

.book-button {
  width: 142px;
  background-color: var(--basic-brown);
  color: var(--basic-white);
  font-size: 14px;
  border: none;
  outline: none;
}

.book-button:hover,
.book-button:focus {
  background-color: var(--hovered-brown);
  border: none;
  outline: none;
}

.book-button:active {
  background-color: var(--pressed-brown);
  border: none;
  color: var(--opaque-white);
  outline: none;
}

.rating {
  justify-self: right;
}

.stars {
  color: var(--basic-blue);
  font-size: 18px;
}

.rating-item {
  color: var(--basic-dark-brown);
  background-color: var(--basic-light);
  font-size: 14px;
  font-weight: 700;
}
